<div class="flex flex-col gap-4 justify-center items-center">
  <p class="mt-4 text-2xl font-bold text-blue-500">
    Buttons
  </p>
  <div class="flex gap-4">
    <u-button label="Click me" variant="primary" size="medium" shape="rounded" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="rounded" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="rounded" state="disabled" type="contained"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="rounded" state="disabled" type="outlined"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="pill" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="pill" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="square" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="square" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="rounded" state="loading" type="contained"></u-button>

    <u-button label="Click me" variant="primary" size="medium" shape="rounded" state="loading" type="outlined"></u-button>
  </div>
  <div class="flex gap-4">
    <u-button label="Click me" variant="secondary" size="medium" shape="rounded" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="rounded" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="rounded" state="disabled" type="contained"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="rounded" state="disabled" type="outlined"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="pill" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="pill" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="square" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="square" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="rounded" state="loading" type="contained"></u-button>

    <u-button label="Click me" variant="secondary" size="medium" shape="rounded" state="loading" type="outlined"></u-button>
  </div>
  <div class="flex gap-4">
    <u-button label="Click me" variant="success" size="medium" shape="rounded" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="rounded" state="default" ype="outlined"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="rounded" state="disabled" type="contained"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="rounded" state="disabled" type="outlined"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="pill" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="pill" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="square" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="square" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="rounded" state="loading" type="contained"></u-button>

    <u-button label="Click me" variant="success" size="medium" shape="rounded" state="loading" type="outlined"></u-button>
  </div>
  <div class="flex gap-4">
    <u-button label="Click me" variant="warning" size="medium" shape="rounded" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="rounded" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="rounded" state="disabled" type="contained"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="rounded" state="disabled" type="outlined"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="pill" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="pill" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="square" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="square" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="rounded" state="loading" type="contained"></u-button>

    <u-button label="Click me" variant="warning" size="medium" shape="rounded" state="loading" type="outlined"></u-button>
  </div>
  <div class="flex gap-4">
    <u-button label="Click me" variant="danger" size="medium" shape="rounded" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="rounded" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="rounded" state="disabled" type="contained"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="rounded" state="disabled" type="outlined"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="pill" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="pill" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="square" state="default" type="contained"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="square" state="default" type="outlined"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="rounded" state="loading" type="contained"></u-button>

    <u-button label="Click me" variant="danger" size="medium" shape="rounded" state="loading" type="outlined"></u-button>
  </div>
  <div class="flex gap-4">
    <u-button label="Click me" variant="dark" size="medium" shape="rounded" state="default" type="contained"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="rounded" state="default" type="outlined"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="rounded" state="disabled" type="contained"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="rounded" state="disabled" type="outlined"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="pill" state="default" type="contained"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="pill" state="default" type="outlined"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="square" state="default" type="contained"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="square" state="default" type="outlined"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="rounded" state="loading" type="contained"></u-button>
    <u-button label="Click me" variant="dark" size="medium" shape="rounded" state="loading" type="outlined"></u-button>
  </div>
</div>